div.tabs.shared {
    li {
        a {
            color: white;
        }

        &.is-active {
            a {
                color: green;
                border-bottom-color: green;
            }
        }
    }
}

div.tabs-content {
    div.tab-item {
        display: none;

        &.active {
            display: block;
        }

        button#play-all{
            margin-bottom: 15px;
        }
    }
}