// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

section.dashboard {
    div.albums {
        h2 {
            margin-top: 48px;
            margin-bottom: 48px;
        }

        margin-bottom: 48px;
    }

    hr {
        height: 1px !important;
    }
}